*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.logo {
    margin: 0 0 0 5%;
}
.logo img{
    height: 10vh;
    display: block;
    padding: 1em;
}
.nav-flex  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #A8DD9C 0%, #24CCAA 100%);
}
.navigation {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    padding-right: 3em;
    padding-left: 1em;
}
.logo, .navigation a {
    text-decoration: none;
    letter-spacing: .45rem;
}
.navigation a {
    display: block;
    padding: 1em;
    color: white;
}
.navigation a:hover {
    background: #2F80ED;
}
input{
    height: 20px;
    border-radius: 10px;
    margin: 10% 0 0 0;
    border-color: #2F80ED;
    text-indent: 4%;
}
h1, h2, h3 {
    color: #2F80ED;
}
h1{
    font-weight: bold;
    font-size: 50px;
}
h3{
    font-size: 18px;
}
p{
    font-size: 20px;
    line-height: 24px;
}
#img-header{
    max-height: 470px;
    margin-top: 8%;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.button{
    margin-top: 2%;
    border-width: 0px;
    width: 200px;
    padding: 2%;
    background: linear-gradient(90deg, #A8DD9C 0%, #24CCAA 100%);
    border-radius: 100px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
}
.filterOptionBody, nav-flex{
    width: 80%;  
}
.filterOption, .filterOption .filterOptionBody{
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    background: #F2F2F2;
}
select{
    width: 250px;
    padding: 10px;
    border-radius: 8px ;
}
.viewCard {
    width: 90%;
    margin: auto; 
}
.viewCardCreate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.itemsPoke{
    width: 200px;
    height: 420px;
    text-align: center;
    padding:25px 0;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #A8DD9C;
    box-shadow: 1.94667px 2.92px 3.89333px rgba(0, 0, 0, 0.25);
    border-radius: 9.73333px ;
    margin: 40px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.imgPokemon{
    max-width: 130px;
}
.itemsPoke:hover{
    border: #8fda9f solid 2.5px;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
/* Inicio Modal*/
/* Fondo del la Tarjeta de Caracteristicas Adicionales */
#principalModal {
    position: fixed;
    display: flex;
    width:100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    padding-top: 3.5%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    border-radius: 15px;
    -webkit-box-shadow: 15px 15px 10px -8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 15px 15px 10px -8px rgba(0, 0, 0, 0.5);
    box-shadow: 15px 15px 10px -8px rgba(0, 0, 0, 0.5);
}
.cardContent{
    width: 75vw;
    height: 85vh; 
    background-color: #fff; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.close {
    text-align: right;
    color: #2F80ED;
    font-size: 30px;
    margin: 15px;
}
.tarjetaPrincipal {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #A8DD9C;
}
.medio {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0 3%;
    width: 40%;
}
.derecha{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.izquierda {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 85vh;
    justify-content: center;
    text-align: center;
}
.text-PokeCard{
    margin-bottom: 2%;
}
.img-modal{
    width: 160px;
}
/*Responsive*/
@media all and (max-width: 790px) {
    .nav-flex {
        flex-direction: column;
    }
    .logo {
        margin: 0;
    }
    .navigation  {
        width: 100%;
        justify-content: space-around;
    }
}
@media all and (max-width: 500px) {
    .logo {
        margin: .25em 0;
        align-self: left; 
    }
    .navigation {
        flex-direction: column;
    } 
    .navigation a{ 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3); 
        border-bottom: 1px solid rgba(0,0,0,0.1); 
    }
    input{
        margin: 2% 0 2% 25%;
    }
    .navigation li:last-of-type a {
        border-bottom: none;
    } 
    .filterOption .filterOptionBody {
        flex-flow: column wrap;
    } 
    #img-box{
        display: none;
    }
    #info{
        flex-direction:column;
        max-width: 90%;
        margin-top: 5%;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 16px;
    }
    p{
        font-size: 13px;
    }
    .cardContent{
        width: 90vw;
        height: 95vh;
    }
    .img-modal{
        max-width: 100px;
    }
    .close{
        display: inline;
        height: 30px;
        margin: 0;
    }
    .medio{
        padding: 0 5%;
        width: 60%;
        margin-left: 5%;
    }
    .derecha{
        display: none;
    }
}